# Environment
.env
.env.*
!.env.example

# Virtual Environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
media/
staticfiles/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Build / Cache
.pytest_cache/
.mypy_cache/
.coverage
htmlcov/
